<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>Ap,ProductType</key>
			<string>AppleTV6,2</string>
			<key>Ap,SDKPlatform</key>
			<string>deprecated</string>
			<key>Ap,TargetType</key>
			<string>j105a</string>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8011</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>17F113</string>
				<key>BuildTrain</key>
				<string>WonderF</string>
				<key>DeviceClass</key>
				<string>j105aap</string>
				<key>FDRSupport</key>
				<true/>
				<key>MobileDeviceMinVersion</key>
				<string>1810</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>1024</key>
					<integer>1280</integer>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>256</key>
					<integer>1280</integer>
					<key>32</key>
					<integer>320</integer>
					<key>512</key>
					<integer>1280</integer>
					<key>64</key>
					<integer>640</integer>
					<key>768</key>
					<integer>1280</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer tvOS Developer PDI</string>
				<key>VariantContents</key>
				<dict>
					<key>PersonalizedDMG</key>
					<string>Cryptex</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>LoadableTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					NxzymObHyJ83turDJJpLXOpicAeG4cVuH+dh
					aCatNDmYMyCiz9+MFjPCY8NbGSwh
					</data>
					<key>Info</key>
					<dict>
						<key>Img4PayloadType</key>
						<string>ltrs</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg.trustcache</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>PersonalizedDMG</key>
				<dict>
					<key>Digest</key>
					<data>
					6oKflT6dmeio5alZPT1qpRSAD2xodnktqS0N
					TC7G/E7op08W9FkZRY3rTl68pvgn
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg</string>
						<key>Personalize</key>
						<true/>
					</dict>
					<key>Name</key>
					<string>DeveloperDiskImage</string>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>ProductMarketingVersion</key>
			<string>1.0</string>
			<key>UniqueBuildID</key>
			<data>
			/4puAJfvH7JyHAKSTrPAFW2VQ1I=
			</data>
		</dict>
		<dict>
			<key>Ap,ProductType</key>
			<string>AppleTV14,1</string>
			<key>Ap,SDKPlatform</key>
			<string>appletvos</string>
			<key>Ap,TargetType</key>
			<string>j255</string>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8110</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>17F113</string>
				<key>BuildTrain</key>
				<string>WonderF</string>
				<key>DeviceClass</key>
				<string>j255ap</string>
				<key>FDRSupport</key>
				<true/>
				<key>MobileDeviceMinVersion</key>
				<string>1810</string>
				<key>RestoreAttestationMode</key>
				<integer>2</integer>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>1024</key>
					<integer>1280</integer>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>256</key>
					<integer>1280</integer>
					<key>32</key>
					<integer>320</integer>
					<key>512</key>
					<integer>1280</integer>
					<key>64</key>
					<integer>640</integer>
					<key>768</key>
					<integer>1280</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer tvOS Developer PDI</string>
				<key>VariantContents</key>
				<dict>
					<key>PersonalizedDMG</key>
					<string>Cryptex</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>LoadableTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					NxzymObHyJ83turDJJpLXOpicAeG4cVuH+dh
					aCatNDmYMyCiz9+MFjPCY8NbGSwh
					</data>
					<key>Info</key>
					<dict>
						<key>Img4PayloadType</key>
						<string>ltrs</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg.trustcache</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>PersonalizedDMG</key>
				<dict>
					<key>Digest</key>
					<data>
					6oKflT6dmeio5alZPT1qpRSAD2xodnktqS0N
					TC7G/E7op08W9FkZRY3rTl68pvgn
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg</string>
						<key>Personalize</key>
						<true/>
					</dict>
					<key>Name</key>
					<string>DeveloperDiskImage</string>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>NeRDEpoch</key>
			<integer>0</integer>
			<key>PCON1,BoardID</key>
			<integer>4203856</integer>
			<key>PCON1,ChipID</key>
			<integer>32</integer>
			<key>PCON1,SecurityDomain</key>
			<integer>2</integer>
			<key>ProductMarketingVersion</key>
			<string>1.0</string>
			<key>UniqueBuildID</key>
			<data>
			LXPr5bvv5VRVhijzC08FrxZYmeA=
			</data>
		</dict>
		<dict>
			<key>Ap,ProductType</key>
			<string>AppleTV11,1</string>
			<key>Ap,SDKPlatform</key>
			<string>appletvos</string>
			<key>Ap,TargetType</key>
			<string>j305</string>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8020</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>17F113</string>
				<key>BuildTrain</key>
				<string>WonderF</string>
				<key>DeviceClass</key>
				<string>j305ap</string>
				<key>FDRSupport</key>
				<true/>
				<key>MobileDeviceMinVersion</key>
				<string>1810</string>
				<key>RestoreAttestationMode</key>
				<integer>1</integer>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>1024</key>
					<integer>1280</integer>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>256</key>
					<integer>1280</integer>
					<key>32</key>
					<integer>320</integer>
					<key>512</key>
					<integer>1280</integer>
					<key>64</key>
					<integer>640</integer>
					<key>768</key>
					<integer>1280</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer tvOS Developer PDI</string>
				<key>VariantContents</key>
				<dict>
					<key>PersonalizedDMG</key>
					<string>Cryptex</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>LoadableTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					NxzymObHyJ83turDJJpLXOpicAeG4cVuH+dh
					aCatNDmYMyCiz9+MFjPCY8NbGSwh
					</data>
					<key>Info</key>
					<dict>
						<key>Img4PayloadType</key>
						<string>ltrs</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg.trustcache</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>PersonalizedDMG</key>
				<dict>
					<key>Digest</key>
					<data>
					6oKflT6dmeio5alZPT1qpRSAD2xodnktqS0N
					TC7G/E7op08W9FkZRY3rTl68pvgn
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg</string>
						<key>Personalize</key>
						<true/>
					</dict>
					<key>Name</key>
					<string>DeveloperDiskImage</string>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>NeRDEpoch</key>
			<integer>0</integer>
			<key>ProductMarketingVersion</key>
			<string>1.0</string>
			<key>UniqueBuildID</key>
			<data>
			wf761MvfiTBmH6XNbUZ1TgFV500=
			</data>
		</dict>
		<dict>
			<key>Ap,ProductType</key>
			<string>AppleTV5,3</string>
			<key>Ap,SDKPlatform</key>
			<string>deprecated</string>
			<key>Ap,TargetType</key>
			<string>j42d</string>
			<key>ApBoardID</key>
			<string>0x34</string>
			<key>ApChipID</key>
			<string>0x7000</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>17F113</string>
				<key>BuildTrain</key>
				<string>WonderF</string>
				<key>DeviceClass</key>
				<string>j42dap</string>
				<key>FDRSupport</key>
				<true/>
				<key>MobileDeviceMinVersion</key>
				<string>1810</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>1024</key>
					<integer>1280</integer>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>256</key>
					<integer>1280</integer>
					<key>32</key>
					<integer>320</integer>
					<key>512</key>
					<integer>1280</integer>
					<key>64</key>
					<integer>640</integer>
					<key>768</key>
					<integer>1280</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer tvOS Developer PDI</string>
				<key>VariantContents</key>
				<dict>
					<key>PersonalizedDMG</key>
					<string>Cryptex</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>LoadableTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					DIQ2p6QfEF9bA9giLy+5Pq3MrJg=
					</data>
					<key>Info</key>
					<dict>
						<key>Img4PayloadType</key>
						<string>ltrs</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg.trustcache</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>PersonalizedDMG</key>
				<dict>
					<key>Digest</key>
					<data>
					7v2NRDV9zQwtO6Al7IfWPF/9idc=
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha1</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Image.dmg</string>
						<key>Personalize</key>
						<true/>
					</dict>
					<key>Name</key>
					<string>DeveloperDiskImage</string>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>ProductMarketingVersion</key>
			<string>1.0</string>
			<key>UniqueBuildID</key>
			<data>
			D+GJHwxfZXReuqEWRxobE2seVB0=
			</data>
		</dict>
		<dict>
			<key>Ap,SDKPlatform</key>
			<string>none</string>
			<key>Ap,TargetType</key>
			<string>tvoscryptex</string>
			<key>Cryptex1,ChipID</key>
			<string>0xFF10</string>
			<key>Cryptex1,NonceDomain</key>
			<integer>4</integer>
			<key>Cryptex1,PreauthorizationVersion</key>
			<string>29.999.999.0.0,0</string>
			<key>Cryptex1,ProductClass</key>
			<string>0xF4</string>
			<key>Cryptex1,SubType</key>
			<integer>2</integer>
			<key>Cryptex1,Type</key>
			<integer>3</integer>
			<key>Cryptex1,UseProductClass</key>
			<true/>
			<key>Cryptex1,Version</key>
			<string>29.999.999.0.0,0</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>17F113</string>
				<key>BuildTrain</key>
				<string>WonderF</string>
				<key>DeviceClass</key>
				<string>tvoscryptexap</string>
				<key>FDRSupport</key>
				<false/>
				<key>MobileDeviceMinVersion</key>
				<string>1810</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>1024</key>
					<integer>1280</integer>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>256</key>
					<integer>1280</integer>
					<key>32</key>
					<integer>320</integer>
					<key>512</key>
					<integer>1280</integer>
					<key>64</key>
					<integer>640</integer>
					<key>768</key>
					<integer>1280</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Cryptex Developer Disk Image</string>
				<key>VariantContents</key>
				<dict>
					<key>Cryptex1,GenericDmg</key>
					<string>GenericCryptexOne</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>Cryptex1,CryptexInfoPlist</key>
				<dict>
					<key>Digest</key>
					<data>
					9SolsNZIBVNSptmWjMouiuuuhVVwR/d/u4Ez
					JssXr4JB5hkzucIax9XRwVdyhceY
					</data>
					<key>Info</key>
					<dict>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Firmware/022-21759-062.dmg.cryptex_info</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>Cryptex1,GenericDmg</key>
				<dict>
					<key>Digest</key>
					<data>
					skfuuHdERakEpbDIyyn/MTNCDMznVqIzHHz0
					3BFQRGC/V/Go/hEkv25ipE0yV9OF
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>022-21759-062.dmg</string>
						<key>Personalize</key>
						<false/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Cryptex1,GenericTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Numap/RhG4M/XBrzmpPz+HmV5+NRkrGnzvV6
					ruZSqwKs6lccM96ovEJyvU8VOOqR
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Firmware/022-21759-062.dmg.trustcache</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Cryptex1,GenericVolume</key>
				<dict>
					<key>Digest</key>
					<data>
					Rjb6DhTBQde4EXPFZFNfRjoMbg09h+8WuA0z
					5pj6tOuk9iILxCG5TiJg+Cb1oyGA
					</data>
					<key>Info</key>
					<dict>
						<key>HashMethod</key>
						<string>sha2-384</string>
						<key>IsFTAB</key>
						<false/>
						<key>IsLoadedByiBoot</key>
						<false/>
						<key>IsLoadedByiBootStage1</key>
						<false/>
						<key>IsiBootEANFirmware</key>
						<false/>
						<key>IsiBootNonEssentialFirmware</key>
						<false/>
						<key>Path</key>
						<string>Firmware/022-21759-062.dmg.root_hash</string>
						<key>Personalize</key>
						<true/>
						<key>RestoreRequestRules</key>
						<array>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>EPRO</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApCurrentProductionMode</key>
									<true/>
									<key>ApDemotionPolicyOverride</key>
									<string>Demote</string>
									<key>ApInRomDFU</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<false/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<false/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>Actions</key>
								<dict>
									<key>ESEC</key>
									<true/>
								</dict>
								<key>Conditions</key>
								<dict>
									<key>ApRawSecurityMode</key>
									<true/>
									<key>ApRequiresImage4</key>
									<true/>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
			<key>ProductMarketingVersion</key>
			<string>1.0</string>
			<key>UniqueBuildID</key>
			<data>
			dF3xgo9byPdTjQ5kV+D/alsYx/Y=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>17F113</string>
	<key>ProductVersion</key>
	<string>1.0</string>
	<key>SupportedProductTypes</key>
	<array>
		<string>AppleTV11,1</string>
		<string>AppleTV14,1</string>
		<string>AppleTV5,3</string>
		<string>AppleTV6,2</string>
		<string>iSim1,1</string>
	</array>
</dict>
</plist>
